.footer {
  background-color: rgb(24, 25, 102);
  color: white;
  height: 200px;
  position: relative;
}
.footer__top {
  margin: auto;
  position: relative;
  top: -10px;
  background: rgb(252, 158, 71);
  width: 300px;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 900;

  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;

  cursor: pointer;
}
.footer__arrow {
  margin-right: 10px;
}
.footer__container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;

  max-width: 800px;
  height: 70%;
  margin: auto;
}
.footer__menu > h3 {
  font-size: small;
  padding-bottom: 10px;
}
.footer__menu {
  list-style: none;
  margin-bottom: 10px;
}
.footer__menu > li > a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: small;
  color: white;
}
.footer__menu > li > a > ul {
  margin-top: 5px;
  padding: 0;
}
