.header {
  height: 60px;
  display: flex;
  align-items: center;
  /*   background-color: rgb(252, 231, 235); */
  background-color: rgb(24, 25, 102);

  position: sticky;
  top: 0;
  z-index: 100;
  text-decoration: none;
}
.header * {
  color: white;
}
.header__logo {
  height: fit-content;
  /* width: 100px; */
  margin-left: 10px;
  text-decoration: none;
  font-family: "Lobster";
  transition: all 0.2s ease;
  font-size: 22px;
}
.header__logo:hover {
  color: grey;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9842;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: black;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
